div#focusedPhoto
  p #{photo.author}
  p #{photo.link}
  img(src="#{photo.link}")
  p #{photo.description}
div#photoCollection
  p oh hai
  each photoItem in photoArr
    img(src="#{photoItem.link}")
    p #{photoItem.description}
    p #{photoItem.author}
    p #{photoItem.link}